.header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: white;
  width: 100%; */
}

.header__left {
  display: flex;
  align-items: center;
  /* background-color: white; */
}

.header__pref {
  border-left: 1px solid black;
  margin-left: 20px;
}

.header__para {
  margin-left: 10px;
}

.header__right {
  background-color: blue;
  width: 100px;
  margin-right: 20px;
  color: white;
  text-align: center;
  border-radius: 10px;
  cursor: pointer !important;
}

.header__icons {
  margin: 20px !important;
}

.header__saveKey {
  margin-top: 10px;
}
